a,
a:focus,
a:hover{
  color: #BCD4E0;
}

h1{
  text-align: center;
  color: #BCD4E0;
  font-size: 17vh;
  margin-top: 25px;
  margin-bottom: 50px;

}



body{
  /*background-color: #697998;*/
  background-color: #545371;

}
.redtext{
  color: white;
}

.link{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 55vh;
}

.blurb{
  width: 50%;
  text-align: center;
  font-size: 2.5vh;
  color: #E4EFF1;
  margin: 0 auto;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

.footer{
  color: #E4EFF1;
  font-size: 1.5vh;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
