@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.keyboard {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: blue;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
}

.keyboard > #key {
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

/*ul {*/
    /*list-style: none;*/
    /*display: flex;*/
/*}*/


/*.key {*/
    /*position: relative;*/
    /*width: 60px;*/
    /*height: 180px;*/
    /*border: 1px solid black;*/
    /*border-right: none;*/
    /*background: #fffff0;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 3px 5px #666;*/
    /*cursor: pointer;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-end;*/
    /*padding-bottom: 10px;*/
    /*font-weight: bold;*/
/*}*/

/*.key:last-child {*/
    /*border-right: 1px solid black;*/
/*}*/

/*.black-key {*/
    /*position: absolute;*/
    /*top: -1px;*/
    /*left: 38px;*/
    /*width: 45px;*/
    /*height: 120px;*/
    /*background: black;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 3px 5px #666;*/
    /*z-index: 999;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-end;*/
    /*padding-bottom: 10px;*/
    /*color: white;*/
/*}*/
