#pianoContainer {
  width: 100%;
  height: 200px;
  background-color: black; }

#keyboard {
  /* leave a space for the border */
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: .5px solid black; }

#keyboard p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* Disable text selection */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */ }

#keyboard .key {
  height: calc(100% - 2 * 1px);
  position: absolute;
  top: 1px; }

#keyboard .key {
  border: .5px solid #303952;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#keyboard .key.white {
  /* white key behind black key */
  z-index: 0;
  text-align: center;
  color: gray;
  background-color: white; }

#keyboard .key.white > .note-name {
  position: absolute;
  top: 130px;
  width: 100%; }

#keyboard .key.white > .keyStr {
  position: absolute;
  top: 150px;
  width: 100%; }

#keyboard .key.white:hover {
  background-color: #f0f0f0; }

#keyboard .key.white:active {
  background-color: yellow; }

#keyboard .key.black {
  z-index: 1;
  height: 50%;
  text-align: center;
  color: lightgrey;
  background-color: #303952;
  width: 100%; }

#keyboard .key.black > .keyStr {
  position: absolute;
  width: 100%;
  top: 50px; }

#keyboard .key.black:hover {
  background-color: #596275; }

#keyboard .key.black:active {
  background-color: gray; }

#keyboard .key.highlight {
  background-color: yellow; }

#keyboard .key.highlight:hover {
  background-color: orange; }

/* ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5 */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6c757d;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

#mask {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #373737;
  z-index: 999; }

#progressText {
  position: absolute;
  top: 60%;
  z-index: 1000;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center; }

.btn-chord {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none; }
  .btn-chord:hover .btn-chord-delete {
    display: block; }
  .btn-chord .button-chord-name {
    background-color: white;
    border: 1px solid #F7F7F7;
    border-radius: 50%;
    color: black;
    width: 100px;
    min-width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    margin: 5px; }
    .btn-chord .button-chord-name:hover {
      background: #F8F9FA; }
    .btn-chord .button-chord-name div {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px; }
    .btn-chord .button-chord-name i {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: #6C757C; }
  .btn-chord .btn-chord-delete {
    background: #6C757C;
    width: 30px;
    height: 30px;
    margin: 7px;
    border-radius: 50%;
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    right: 0; }
    .btn-chord .btn-chord-delete:hover {
      background: #DC3445; }
    .btn-chord .btn-chord-delete i {
      color: white;
      vertical-align: middle; }

.active .button-chord-name {
  color: #4e73df; }

.active .btn-chord-delete {
  display: block; }

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  /* or 950px */ }

body {
  background-color: #ebecef; }


/*# sourceMappingURL=/style.e0c02e61.css.map */