body {
    background-color: rgb(55, 55, 55);
    /* Disable scrolling */
    margin: 0; height: 100%; overflow: hidden
}

#chord {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    color: #BCD4E0;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}

#chord_type_frm {
    margin-top: 35px;
}

.separated-group {
    margin-left: 20px;
    margin-right: 20px;
}
