html,
body {
    height: 100%;
}

.piano-container {
    text-align: center;
    width: 100%
}

.blue-square {
    background-color: #0074D9;
    width: 600px;
    height: 100px;
    display: inline-block;
}

.dropdown {
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top:5px;
}
