$border-color: #212224;
$highlight-root-color: #dfe6e9;
$highlight-gradient: linear-gradient(0deg, #ffeaa7 50%, #fdcb6e 100%);
$highlight-color: #ffeaa7;
$highlight-shadow: #fdcb6e;

#pianoContainer {
    width: 100%;
    height: 200px;
    background-color: black;
}

#keyboard {
    /* leave a space for the border */
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: .5px solid $border-color;
    border-bottom: 1px solid $border-color;
}

#keyboard p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* Disable text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#keyboard .key {
    height: calc(100% - 2 * 1px);
    position: absolute;
    top: 1px;
}

#keyboard .key {
    border: 1px solid $border-color;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


#keyboard .key.white {
    /* white key behind black key */
    z-index: 0;
    text-align: center;
    color: rgb(147, 154, 160);
    background-color: white;
}

#keyboard .key.white > .note-name {
    position: absolute;
    top: 160px;
    width: 100%;
}

#keyboard .key.white > .keyStr {
    position: absolute;
    top: 180px;
    width: 100%;
}

#keyboard .key.white:hover {
    background-color: #f0f0f0;
}

#keyboard .key.white:active {
    background-color: $highlight-color;
}

#keyboard .key.black {
    z-index: 1;
    height: 50%;
    text-align: center;
    color: lightgrey;
    box-shadow: inset 10px 10px 100px rgba(132, 189, 245, 0.98);
    //background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-image: linear-gradient(0deg, #575960 0%, #2e2d31 100%);
    width: 100%;
    border-bottom: 8px solid $border-color;
    border-left: 2px solid $border-color;
    border-right: 2px solid $border-color;
    border-top: 1px solid $border-color;

    &.highlight {
        background-image: $highlight-gradient;
    }

    &.highlight-root {
        background-image: linear-gradient(0deg, #848d90 50%, #65696c 100%);

        &:hover {
            background-color: #4c5053;
        }
    }
}

#keyboard .key.black > .keyStr {
    position: absolute;
    width: 100%;
    top: 30px;
}

#keyboard .key.black:hover {
    background-image: none;
    background-color: #596275;
}

#keyboard .key.black:active {
    background-color: gray;
}

#keyboard .key.highlight {
    background-image: none;
    background-color: $highlight-color;
    box-shadow: inset 0 3px 20px $highlight-shadow;
}

#keyboard .key.highlight-root {
    background-image: none;
    background-color: #dfe6e9;

    &:hover {
        background: #ccd3d6;
    }
}

#keyboard .key.highlight:hover {
    background-color: $highlight-shadow;
}
