$border-secondary: #b2bec3;
$text-secondary: #6C757C;
$text-muted: #939aa0;
$text-highlight: white;
$bg-secondary: #6C757C;
$bg-light: #F8F9FA;
$bg-danger: #DC3445;

@mixin unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

#resetBtn {
  color: #6c757d;

  &:hover {
    color: #DC3445;
  }

  &.disabled {
    color: $text-muted;
  }
}


#copyBtn {
  color: #6c757d;

&:hover {
  color: #8ec5fc;
}

&.disabled {
  color: $text-muted;
}
}

#playBtn {
  &.active {
    background: #8ec5fc;
    border: 0;
  }
  border-radius: 50%;
}

.btn-chord {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
  @include unselectable;

  &:hover .btn-chord-delete {
    display: block;
  }

  .button-chord-name {

    background-color: white;
    border-radius: 50%;
    color: black;
    width: 130px;
    height: 130px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    margin: 5px;

    &:hover {
      background: $bg-light;
    }

    div {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 33px;
    }

    i {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: $text-secondary;
    }
  }

  .btn-chord-delete {
    background: $bg-secondary;
    width: 30px;
    height: 30px;
    margin: 7px; // space between circles
    border-radius: 50%;
    text-align: center;
    display: none; // Hide the element

    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      background: $bg-danger;
    }

    i {
      color: white;
      vertical-align: middle;
    }
  }
}

.active {
  .button-chord-name {
    color: $text-highlight;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

    &:hover{
      background-image: linear-gradient(120deg, #d9bef5 0%, #84bdf5 100%);
    }
  }

  .btn-chord-delete {
    display: block;
  }
}
