@import "keyboard";
@import "loader";
@import "progression";
@import "dropdwon";

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px; /* or 950px */
}


body {
    background-color: #ebecef;
}
