@import "keyboard";
@import "loader";

a,
a:focus,
a:hover{
    color: #BCD4E0;
}

.nav-masthead .nav-link{
    padding: .25rem 0;
    margin-top: -73px;
    font-weight: 700;
    color: #BCD4E0;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link + .nav-link{
    margin-left: 1rem;
}

body {
    background-color: rgb(55, 55, 55);
    /* Disable scrolling */
    margin: 0; height: 100%; overflow: hidden
}

#chord {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    color: #BCD4E0;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}

#chord_type_frm {
    margin-top: 35px;
}

.separated-group {
    margin-left: 20px;
    margin-right: 20px;
}

#progression-container {
    background-color: #aae2ff;
    width: 525px;
    height: 120px;
    margin: 0 auto;
    margin-top: 125px;
}

.chord-list-holder {
    margin-top: 30px;
    margin-left: 20%;
}

.progression-text {
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    margin-top: 50px;
}

.chord-column {
    background: rgba(0, 0, 0, 0);
    padding: 20px;
    font-size: 40px;
    width: 30px;
    color: white;
}