

h1{
  text-align: center;
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
}

body{
  background-color:#FFFFFF;

}

.wetwet{
  display: flex;
  justify-content: center;
}

.card-body{
  text-align: center;
}

.btn-link{
  color: black;
}

#collapseTwo{
  text-align: center;
}


.accordion {
  width: 150vh;
}

img{
  margin-bottom: 10px;
}

p{
  color: black;
}


