$font-size: 20px;

h1{
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
}


.text-container{
  justify-content: center;
  max-width: 680px;
  margin: auto;
  padding-top: 60px;
  font-size:21px;
}


.accordion {
  width: 150vh;
}


img{
  text-align: center;
  width: 100%;
}




img{
  margin-bottom: 10px;
}

p{
  text-align: left;
  color: black;
  font-size: $font-size;
  line-height: 1.58;
  letter-spacing: -0.004em;
}
